{% extends 'core/base.html' %}

{% block content %}
    <h2>Список задач:</h2>
    
    <ul>
        {% for task in tasks %}
            <li>
                {% if task.is_completed %}
                    <s>{{ task.title }}</s> (Готово!)
                {% else %}
                    <a href="{% url 'task_detail' task.id %}"><b>{{ task.title }}</b></a>
                {% endif %} <p>{{ task.description }}</p>
            </li>
        {% empty %}
            <li>Задач пока нет.</li>
        {% endfor %}
    </ul>
{% endblock %}